<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 p-10 text-black text-center">
        <form class="flex flex-col items-center justify-center text-white md:font-bold" action="/create" method="post">
            <input class="block rounded-lg outline-none px-5 py-2 mb-5 mr-10 bg-zinc-500" type="text" placeholder="Your Name" name="name"><br>
            <input class="block rounded-lg outline-none px-5 py-2 mb-5 mr-10 bg-zinc-500" type="email" placeholder="Email Id" name="email"><br>
            <input class="block rounded-lg outline-none px-5 py-2 mb-5 mr-10 bg-zinc-500" type="password" placeholder="Password" name="password"><br>
            <input class="block rounded-lg outline-none px-5 py-2 mb-5 mr-10 bg-zinc-500" type="number" placeholder="Your Age" name="age">
            <input class="block rounded-lg outline-none px-5 py-2 mb-5 mr-10 text-xl text-white" type="submit" value="SignUp">
        </form>
    </div>
</body>
</html>